<h4>Let's do some work:</h4>

<div class="link-container">
  <a routerLink="/done">
    Done: {{(doneTodos$ | async)?.length}}
  </a>
</div>

<td-new-todo (addToDo)="addToDo($event)"></td-new-todo>

<section class="main">
  <td-todo-list [todos]="pendingTodos$ | async" (onRemoveToDo)="completeToDo($event)"></td-todo-list>
</section>
