<section class="todoapp">

<header class="header">
  <h1>Simplistic ToDo</h1>
  <h4>A most simplistic ToDo List with Angular.</h4>


</header>

<h4> {{message$ | async}} </h4>

<router-outlet></router-outlet>

<!--<td-overview></td-overview>-->
<!--<td-done-todos></td-done-todos>-->

</section>
<footer class="info">

  <p>JavaScript Example / Initial template from <a href="https://github.com/tastejs/todomvc-app-template">todomvc-app-template</a>
  </p>
</footer>
